<fieldset>
    <div class="row">
        <div class="col-xs-11">
            {{
                form_row(
                    form.metadataUrl,
                    {
                        attr: {
                            'class': 'url-validated',
                            'data-parsley-remote': path(
                                'validate',
                                {id: subscription.id}
                            ),
                            'data-parsley-remote-options': '{ "type": "POST" }',
                            'data-parsley-errors-messages-disabled': 'true'
                        }
                    }
                )
            }}
        </div>

        <div class="col-xs-1">
            <a href="#" class="btn btn-link popover-link" data-content="{{ 'form.help.metadataUrl'|trans|escape('html_attr') }}">
                {{ icon('question-circle') }}
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-11">
            {{ form_row(form.acsLocation, {attr: {'class': 'disabled url-validated', 'placeholder': 'form.placeholder.acsLocation'|trans}}) }}
        </div>

        <div class="col-xs-1">
            <a href="#" class="btn btn-link popover-link" data-content="{{ 'form.help.acsLocation'|trans|escape('html_attr') }}">
                {{ icon('question-circle') }}
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-11">
            {{ form_row(form.entityId, {attr: {'class': 'disabled', 'placeholder': 'form.placeholder.entityId'|trans}}) }}
        </div>

        <div class="col-xs-1">
            <a href="#" class="btn btn-link popover-link" data-content="{{ 'form.help.entityId'|trans|escape('html_attr') }}">
                {{ icon('question-circle') }}
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-11">
            {{ form_row(form.certificate, {attr: {'class': 'disabled', 'placeholder': 'form.placeholder.certificate'|trans}}) }}
        </div>

        <div class="col-xs-1">
            <a href="#" class="btn btn-link popover-link" data-content="{{ 'form.help.certificate'|trans|escape('html_attr') }}">
                {{ icon('question-circle') }}
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-11">
            {{
                form_row(
                    form.logoUrl,
                    {
                        'attr': {
                            'data-parsley-remote': path(
                                'validate',
                                {id: subscription.id}
                            )
                        }
                    }
                )
            }}
        </div>

        <img id="subscription_logoUrl_preview"
             src="{{ form.vars.value.logoUrl }}"
             alt="logo"
             style="width: 4rem; height: 3rem;" />

        <div class="col-xs-1">
            <a href="#" class="btn btn-link popover-link" data-content="{{ 'form.help.logoUrl'|trans|escape('html_attr') }}">
                {{ icon('question-circle') }}
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-11">
            {{ form_row(form.nameEn) }}
        </div>

        <div class="col-xs-1">
            <a href="#" class="btn btn-link popover-link" data-content="{{ 'form.help.nameEn'|trans|escape('html_attr') }}">
                {{ icon('question-circle') }}
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-11">
            {{ form_row(form.descriptionEn, {'attr': {'data-parsley-maxlength': 300}}) }}
        </div>

        <div class="col-xs-1">
            <a href="#" class="btn btn-link popover-link" data-content="{{ 'form.help.descriptionEn'|trans|escape('html_attr') }}">
                {{ icon('question-circle') }}
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-11">
            {{ form_row(form.nameNl) }}
        </div>

        <div class="col-xs-1">
            <a href="#" class="btn btn-link popover-link" data-content="{{ 'form.help.nameNl'|trans|escape('html_attr') }}">
                {{ icon('question-circle') }}
            </a>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-11">
            {{ form_row(form.descriptionNl, {'attr': {'data-parsley-maxlength': 300}}) }}
        </div>

        <div class="col-xs-1">
            <a href="#" class="btn btn-link popover-link" data-content="{{ 'form.help.descriptionNl'|trans|escape('html_attr') }}">
                {{ icon('question-circle') }}
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-11">
            {{ form_row(form.applicationUrl) }}
        </div>

        <div class="col-xs-1">
            <a href="#" class="btn btn-link popover-link" data-content="{{ 'form.help.applicationUrl'|trans|escape('html_attr') }}">
                {{ icon('question-circle') }}
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-11">
            {{ form_row(form.eulaUrl) }}
        </div>

        <div class="col-xs-1">
            <a href="#" class="btn btn-link popover-link" data-content="{{ 'form.help.eulaUrl'|trans|escape('html_attr') }}">
                {{ icon('question-circle') }}
            </a>
        </div>
    </div>
</fieldset>
