<fieldset>
    <legend>{{ 'form.legend.administrativeContact'|trans }}</legend>
    <div class="row">
        <div class="col-md-11">
            {{ form_row(form.administrativeContact.firstName) }}
        </div>

        <div class="col-md-1">
            <a href="#" class="btn btn-link popover-link" data-content="{{ 'form.help.administrativeContact.firstName'|trans }}">
                {{ icon('question-circle') }}
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-11">
            {{ form_row(form.administrativeContact.lastName) }}
        </div>

        <div class="col-md-1">
            <a href="#" class="btn btn-link popover-link" data-content="{{ 'form.help.administrativeContact.lastName'|trans }}">
                {{ icon('question-circle') }}
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-11">
            {{ form_row(form.administrativeContact.email) }}
        </div>

        <div class="col-md-1">
            <a href="#" class="btn btn-link popover-link" data-content="{{ 'form.help.administrativeContact.email'|trans }}">
                {{ icon('question-circle') }}
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-11">
            {{ form_row(form.administrativeContact.phone) }}
        </div>

        <div class="col-md-1">
            <a href="#" class="btn btn-link popover-link" data-content="{{ 'form.help.administrativeContact.phone'|trans }}">
                {{ icon('question-circle') }}
            </a>
        </div>
    </div>
</fieldset>

<fieldset>
    <legend>{{ 'form.legend.technicalContact'|trans }}</legend>
    <div class="row">
        <div class="col-md-11">
            {{ form_row(form.technicalContact.firstName) }}
        </div>

        <div class="col-md-1">
            <a href="#" class="btn btn-link popover-link" data-content="{{ 'form.help.technicalContact.firstName'|trans }}">
                {{ icon('question-circle') }}
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-11">
            {{ form_row(form.technicalContact.lastName) }}
        </div>

        <div class="col-md-1">
            <a href="#" class="btn btn-link popover-link" data-content="{{ 'form.help.technicalContact.lastName'|trans }}">
                {{ icon('question-circle') }}
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-11">
            {{ form_row(form.technicalContact.email) }}
        </div>

        <div class="col-md-1">
            <a href="#" class="btn btn-link popover-link" data-content="{{ 'form.help.technicalContact.email'|trans }}">
                {{ icon('question-circle') }}
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-11">
            {{ form_row(form.technicalContact.phone) }}
        </div>

        <div class="col-md-1">
            <a href="#" class="btn btn-link popover-link" data-content="{{ 'form.help.technicalContact.phone'|trans }}">
                {{ icon('question-circle') }}
            </a>
        </div>
    </div>
</fieldset>

<fieldset>
    <legend>{{ 'form.legend.supportContact'|trans }}</legend>
    <div class="row">
        <div class="col-md-11">
            {{ form_row(form.supportContact.firstName) }}
        </div>

        <div class="col-md-1">
            <a href="#" class="btn btn-link popover-link" data-content="{{ 'form.help.supportContact.firstName'|trans }}">
                {{ icon('question-circle') }}
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-11">
            {{ form_row(form.supportContact.lastName) }}
        </div>

        <div class="col-md-1">
            <a href="#" class="btn btn-link popover-link" data-content="{{ 'form.help.supportContact.lastName'|trans }}">
                {{ icon('question-circle') }}
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-11">
            {{ form_row(form.supportContact.email) }}
        </div>

        <div class="col-md-1">
            <a href="#" class="btn btn-link popover-link" data-content="{{ 'form.help.supportContact.email'|trans }}">
                {{ icon('question-circle') }}
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-11">
            {{ form_row(form.supportContact.phone) }}
        </div>

        <div class="col-md-1">
            <a href="#" class="btn btn-link popover-link" data-content="{{ 'form.help.supportContact.phone'|trans }}">
                {{ icon('question-circle') }}
            </a>
        </div>
    </div>
</fieldset>
