<fieldset>
    <legend>
        <div class="row">
            <div class="col-xs-11">
                {{ 'form.legend.administrativeContact'|trans }}
            </div>

            <div class="col-xs-1">
                <a href="#" class="btn btn-link popover-link"
                   data-content="{{ 'form.help.administrativeContact'|trans }}">
                    {{ icon('question-circle') }}
                </a>
            </div>
        </div>
    </legend>

    <div class="row">
        <div class="col-xs-11">
            {{ form_row(form.administrativeContact.firstName) }}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-11">
            {{ form_row(form.administrativeContact.lastName) }}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-11">
            {{ form_row(form.administrativeContact.email) }}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-11">
            {{ form_row(form.administrativeContact.phone) }}
        </div>
    </div>
</fieldset>

<fieldset>
    <legend>
        <div class="row">
            <div class="col-xs-11">
                {{ 'form.legend.technicalContact'|trans }}
            </div>

            <div class="col-xs-1">
                <a href="#" class="btn btn-link popover-link"
                   data-content="{{ 'form.help.technicalContact'|trans }}">
                    {{ icon('question-circle') }}
                </a>
            </div>
        </div>
    </legend>

    <div class="row">
        <div class="col-xs-11">
            {{ form_row(form.technicalContact.firstName) }}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-11">
            {{ form_row(form.technicalContact.lastName) }}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-11">
            {{ form_row(form.technicalContact.email, {'attr': {'data-parsley-contactunique': true }}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-11">
            {{ form_row(form.technicalContact.phone) }}
        </div>
    </div>
</fieldset>

<fieldset>
    <legend>
        <div class="row">
            <div class="col-xs-11">
                {{ 'form.legend.supportContact'|trans }}
            </div>

            <div class="col-xs-1">
                <a href="#" class="btn btn-link popover-link"
                   data-content="{{ 'form.help.supportContact'|trans }}">
                    {{ icon('question-circle') }}
                </a>
            </div>
        </div>
    </legend>

    <div class="row">
        <div class="col-xs-11">
            {{ form_row(form.supportContact.firstName) }}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-11">
            {{ form_row(form.supportContact.lastName) }}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-11">
            {{ form_row(form.supportContact.email) }}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-11">
            {{ form_row(form.supportContact.phone) }}
        </div>
    </div>
</fieldset>
