<fieldset>
    <div class="row">
        <div class="col-md-11">
            <div class="form-group">
                {{ form_label(form.givenNameAttribute) }}
                <div class="col-lg-10">
                    <div class="col-md-2">
                        <div class="checkbox">
                            {{ form_widget(form.givenNameAttribute.requested) }}
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="form-group">
                            {{ form_widget(form.givenNameAttribute.motivation, {attr: {'class': 'disabled' }}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-1">
            <a href="#" class="btn btn-link popover-link" data-content="{{ 'form.help.givenNameAttribute'|trans }}">
                {{ icon('question-circle') }}
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-11">
            <div class="form-group">
                {{ form_label(form.surNameAttribute) }}
                <div class="col-lg-10">
                    <div class="col-md-2">
                        <div class="checkbox">
                            {{ form_widget(form.surNameAttribute.requested) }}
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="form-group">
                            {{ form_widget(form.surNameAttribute.motivation, {attr: {'class': 'disabled' }}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-1">
            <a href="#" class="btn btn-link popover-link" data-content="{{ 'form.help.surNameAttribute'|trans }}">
                {{ icon('question-circle') }}
            </a>
        </div>
    </div>
</fieldset>
