<fieldset>
    <div class="row">
        <div class="col-xs-11">
            <div class="form-group">
                {{ form_label(form.givenNameAttribute) }}
                <div class="col-lg-10">
                    <div class="col-xs-2">
                        <div class="checkbox">
                            {{ form_widget(form.givenNameAttribute.requested) }}
                        </div>
                    </div>
                    <div class="col-xs-10">
                        <div class="form-group">
                            {{ form_widget(form.givenNameAttribute.motivation, {attr: {'class': 'disabled', 'placeholder': 'form.placeholder.attribute'|trans }}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-1">
            <a href="#" class="btn btn-link popover-link" data-content="{{ 'form.help.givenNameAttribute'|trans|escape('html_attr') }}">
                {{ icon('question-circle') }}
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-11">
            <div class="form-group">
                {{ form_label(form.surNameAttribute) }}
                <div class="col-lg-10">
                    <div class="col-xs-2">
                        <div class="checkbox">
                            {{ form_widget(form.surNameAttribute.requested) }}
                        </div>
                    </div>
                    <div class="col-xs-10">
                        <div class="form-group">
                            {{ form_widget(form.surNameAttribute.motivation, {attr: {'class': 'disabled', 'placeholder': 'form.placeholder.attribute'|trans }}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-1">
            <a href="#" class="btn btn-link popover-link" data-content="{{ 'form.help.surNameAttribute'|trans|escape('html_attr') }}">
                {{ icon('question-circle') }}
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-11">
            <div class="form-group">
                {{ form_label(form.commonNameAttribute) }}
                <div class="col-lg-10">
                    <div class="col-xs-2">
                        <div class="checkbox">
                            {{ form_widget(form.commonNameAttribute.requested) }}
                        </div>
                    </div>
                    <div class="col-xs-10">
                        <div class="form-group">
                            {{ form_widget(form.commonNameAttribute.motivation, {attr: {'class': 'disabled', 'placeholder': 'form.placeholder.attribute'|trans }}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-1">
            <a href="#" class="btn btn-link popover-link" data-content="{{ 'form.help.commonNameAttribute'|trans|escape('html_attr') }}">
                {{ icon('question-circle') }}
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-11">
            <div class="form-group">
                {{ form_label(form.displayNameAttribute) }}
                <div class="col-lg-10">
                    <div class="col-xs-2">
                        <div class="checkbox">
                            {{ form_widget(form.displayNameAttribute.requested) }}
                        </div>
                    </div>
                    <div class="col-xs-10">
                        <div class="form-group">
                            {{ form_widget(form.displayNameAttribute.motivation, {attr: {'class': 'disabled', 'placeholder': 'form.placeholder.attribute'|trans }}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-1">
            <a href="#" class="btn btn-link popover-link" data-content="{{ 'form.help.displayNameAttribute'|trans|escape('html_attr') }}">
                {{ icon('question-circle') }}
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-11">
            <div class="form-group">
                {{ form_label(form.emailAddressAttribute) }}
                <div class="col-lg-10">
                    <div class="col-xs-2">
                        <div class="checkbox">
                            {{ form_widget(form.emailAddressAttribute.requested) }}
                        </div>
                    </div>
                    <div class="col-xs-10">
                        <div class="form-group">
                            {{ form_widget(form.emailAddressAttribute.motivation, {attr: {'class': 'disabled', 'placeholder': 'form.placeholder.attribute'|trans }}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-1">
            <a href="#" class="btn btn-link popover-link" data-content="{{ 'form.help.emailAddressAttribute'|trans|escape('html_attr') }}">
                {{ icon('question-circle') }}
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-11">
            <div class="form-group">
                {{ form_label(form.organizationAttribute) }}
                <div class="col-lg-10">
                    <div class="col-xs-2">
                        <div class="checkbox">
                            {{ form_widget(form.organizationAttribute.requested) }}
                        </div>
                    </div>
                    <div class="col-xs-10">
                        <div class="form-group">
                            {{ form_widget(form.organizationAttribute.motivation, {attr: {'class': 'disabled', 'placeholder': 'form.placeholder.attribute'|trans }}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-1">
            <a href="#" class="btn btn-link popover-link" data-content="{{ 'form.help.organizationAttribute'|trans|escape('html_attr') }}">
                {{ icon('question-circle') }}
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-11">
            <div class="form-group">
                {{ form_label(form.organizationTypeAttribute) }}
                <div class="col-lg-10">
                    <div class="col-xs-2">
                        <div class="checkbox">
                            {{ form_widget(form.organizationTypeAttribute.requested) }}
                        </div>
                    </div>
                    <div class="col-xs-10">
                        <div class="form-group">
                            {{ form_widget(form.organizationTypeAttribute.motivation, {attr: {'class': 'disabled', 'placeholder': 'form.placeholder.attribute'|trans }}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-1">
            <a href="#" class="btn btn-link popover-link"
               data-content="{{ 'form.help.organizationTypeAttribute'|trans|escape('html_attr') }}">
                {{ icon('question-circle') }}
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-11">
            <div class="form-group">
                {{ form_label(form.affiliationAttribute) }}
                <div class="col-lg-10">
                    <div class="col-xs-2">
                        <div class="checkbox">
                            {{ form_widget(form.affiliationAttribute.requested) }}
                        </div>
                    </div>
                    <div class="col-xs-10">
                        <div class="form-group">
                            {{ form_widget(form.affiliationAttribute.motivation, {attr: {'class': 'disabled', 'placeholder': 'form.placeholder.attribute'|trans }}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-1">
            <a href="#" class="btn btn-link popover-link" data-content="{{ 'form.help.affiliationAttribute'|trans|escape('html_attr') }}">
                {{ icon('question-circle') }}
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-11">
            <div class="form-group">
                {{ form_label(form.entitlementAttribute) }}
                <div class="col-lg-10">
                    <div class="col-xs-2">
                        <div class="checkbox">
                            {{ form_widget(form.entitlementAttribute.requested) }}
                        </div>
                    </div>
                    <div class="col-xs-10">
                        <div class="form-group">
                            {{ form_widget(form.entitlementAttribute.motivation, {attr: {'class': 'disabled', 'placeholder': 'form.placeholder.attribute'|trans }}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-1">
            <a href="#" class="btn btn-link popover-link" data-content="{{ 'form.help.entitlementAttribute'|trans|escape('html_attr') }}">
                {{ icon('question-circle') }}
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-11">
            <div class="form-group">
                {{ form_label(form.principleNameAttribute) }}
                <div class="col-lg-10">
                    <div class="col-xs-2">
                        <div class="checkbox">
                            {{ form_widget(form.principleNameAttribute.requested) }}
                        </div>
                    </div>
                    <div class="col-xs-10">
                        <div class="form-group">
                            {{ form_widget(form.principleNameAttribute.motivation, {attr: {'class': 'disabled', 'placeholder': 'form.placeholder.attribute'|trans }}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-1">
            <a href="#" class="btn btn-link popover-link" data-content="{{ 'form.help.principleNameAttribute'|trans|escape('html_attr') }}">
                {{ icon('question-circle') }}
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-11">
            <div class="form-group">
                {{ form_label(form.uidAttribute) }}
                <div class="col-lg-10">
                    <div class="col-xs-2">
                        <div class="checkbox">
                            {{ form_widget(form.uidAttribute.requested) }}
                        </div>
                    </div>
                    <div class="col-xs-10">
                        <div class="form-group">
                            {{ form_widget(form.uidAttribute.motivation, {attr: {'class': 'disabled', 'placeholder': 'form.placeholder.attribute'|trans }}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-1">
            <a href="#" class="btn btn-link popover-link" data-content="{{ 'form.help.uidAttribute'|trans|escape('html_attr') }}">
                {{ icon('question-circle') }}
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-11">
            <div class="form-group">
                {{ form_label(form.preferredLanguageAttribute) }}
                <div class="col-lg-10">
                    <div class="col-xs-2">
                        <div class="checkbox">
                            {{ form_widget(form.preferredLanguageAttribute.requested) }}
                        </div>
                    </div>
                    <div class="col-xs-10">
                        <div class="form-group">
                            {{ form_widget(form.preferredLanguageAttribute.motivation, {attr: {'class': 'disabled', 'placeholder': 'form.placeholder.attribute'|trans }})
                            }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-1">
            <a href="#" class="btn btn-link popover-link"
               data-content="{{ 'form.help.preferredLanguageAttribute'|trans|escape('html_attr') }}">
                {{ icon('question-circle') }}
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-11">
            <div class="form-group">
                {{ form_label(form.personalCodeAttribute) }}
                <div class="col-lg-10">
                    <div class="col-xs-2">
                        <div class="checkbox">
                            {{ form_widget(form.personalCodeAttribute.requested) }}
                        </div>
                    </div>
                    <div class="col-xs-10">
                        <div class="form-group">
                            {{ form_widget(form.personalCodeAttribute.motivation, {attr: {'class': 'disabled', 'placeholder': 'form.placeholder.attribute'|trans }}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-1">
            <a href="#" class="btn btn-link popover-link"
               data-content="{{ 'form.help.personalCodeAttribute'|trans|escape('html_attr') }}">
                {{ icon('question-circle') }}
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-11">
            <div class="form-group">
                {{ form_label(form.eduPersonTargetedIDAttribute) }}
                <div class="col-lg-10">
                    <div class="col-xs-2">
                        <div class="checkbox">
                            {{ form_widget(form.eduPersonTargetedIDAttribute.requested) }}
                        </div>
                    </div>
                    <div class="col-xs-10">
                        <div class="form-group">
                            {{ form_widget(form.eduPersonTargetedIDAttribute.motivation, {attr: {'class': 'disabled', 'placeholder': 'form.placeholder.attribute'|trans }}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-1">
            <a href="#" class="btn btn-link popover-link"
               data-content="{{ 'form.help.eduPersonTargetedIDAttribute'|trans|escape('html_attr') }}">
                {{ icon('question-circle') }}
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-11">
            <div class="form-group">
                {{ form_label(form.scopedAffiliationAttribute) }}
                <div class="col-lg-10">
                    <div class="col-xs-2">
                        <div class="checkbox">
                            {{ form_widget(form.scopedAffiliationAttribute.requested) }}
                        </div>
                    </div>
                    <div class="col-xs-10">
                        <div class="form-group">
                            {{ form_widget(form.scopedAffiliationAttribute.motivation, {attr: {'class': 'disabled', 'placeholder': 'form.placeholder.attribute'|trans }}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-1">
            <a href="#" class="btn btn-link popover-link"
               data-content="{{ 'form.help.scopedAffiliationAttribute'|trans|escape('html_attr') }}">
                {{ icon('question-circle') }}
            </a>
        </div>
    </div>
</fieldset>
