{% extends 'APYDataGridBundle::blocks_js.jquery.html.twig' %}

{% block grid %}
    <div class="grid">
        {% if grid.totalCount > 0 or grid.isFiltered or grid.noDataMessage is sameas(false) %}
            <form id="{{ grid.hash }}" action="{{ grid.routeUrl }}" method="post">
                <div class="grid_header">
                    {% if grid.massActions|length > 0 %}
                        {{ grid_actions(grid) }}
                    {% endif %}
                </div>
                <div class="grid_body">
                    <table class="table table-hover">
                        {% if grid.isTitleSectionVisible %}
                            {{ grid_titles(grid) }}
                        {% endif %}
                        {% if grid.isFilterSectionVisible %}
                            {{ grid_filters(grid) }}
                        {% endif %}
                        {{ grid_rows(grid) }}
                    </table>
                </div>
                <div class="grid_footer">
                    {% if grid.isPagerSectionVisible %}
                        {{ grid_pager(grid) }}
                    {% endif %}
                    {% if grid.exports|length > 0 %}
                        {{ grid_exports(grid) }}
                    {% endif %}
                    {% if grid.tweaks|length > 0 %}
                        {{ grid_tweaks(grid) }}
                    {% endif %}
                </div>
                {% if withjs %}
                    {{ grid_scripts(grid) }}
                {% endif %}
            </form>
        {% else %}
            {{ grid_no_data(grid) }}
        {% endif %}
    </div>
{% endblock grid %}

{% block grid_pager %}
    <div class="row">
        <div class="col-md-4">
            <div class="pagination">{{ grid_pager_results_perpage(grid) }}</div>
        </div>
        <div class="col-md-4 text-center">{{ grid_pagerfanta(grid) }}</div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}

{% block grid_pager_results_perpage %}
    <select class="form-control" onchange="return {{ grid.hash }}_resultsPerPage(this.value);">
        {% for key, value in grid.limits %}
            <option value="{{ key }}"{% if (key == grid.limit) %} selected="selected"{% endif %}>{{ value }}</option>
        {% endfor %}
    </select>
{% endblock grid_pager_results_perpage %}
