{% extends "base.html.twig" %}

{% block title %}{{ 'overview.publish.title' }}{% endblock %}
{% block body %}
    <h2>{{ 'overview.publish.subtitle'|trans }}</h2>

    <p>
        {{ 'overview.publish.intro'|trans|raw }}
    </p>

    {% include 'subscription/partials/proplist.html.twig' %}

    <a href="{{ path('connect_draft_edit', {id: subscription.id}) }}" class="btn btn-default">
        {{ 'overview.publish.button.cancel'|trans }}
    </a>

    <form method="post" style="display: inline;">
        <input type="submit"
               class="btn btn-primary"
               value="{{ 'overview.publish.button.confirm'|trans }}" />
    </form>
{% endblock %}
