{% extends "base.html.twig" %}

{% block title %}{{ 'title.connect.update.edit'|trans }}{% endblock %}
{% block body %}
    <h2>{{ 'overview.update.subtitle'|trans }}</h2>

    <p>
        {{ 'overview.update.intro'|trans|raw }}
    </p>

    {% include 'subscription/partials/proplist.html.twig' %}

    <a href="{{ path('subscription', {id: subscription.id}) }}" class="btn btn-default">
        {{ 'overview.update.button.cancel'|trans }}
    </a>

    <form method="post" style="display: inline;">
        <input type="submit"
               value="{{ 'overview.update.button.confirm'|trans }}"
               class="btn btn-primary" />
    </form>

{% endblock %}
