{% extends "admin/base.html.twig" %}

{% block title %}Edit Text{% endblock %}

{% block body %}
    <div class="col-md-9">
        <form method="post" {{ form_enctype(form) }} class="form-horizontal">
            {{ bootstrap_set_style('horizontal') }}

            {{ form_errors(form) }}

            <div class="form-group">
                <label class="col-lg-2 control-label">{{ 'key'|humanize|trans }}</label>

                <div class="col-lg-10">
                    <p class="form-control-static">{{ text.key }}</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label">{{ 'domain'|humanize|trans }}</label>

                <div class="col-lg-10">
                    <p class="form-control-static">{{ text.domain }}</p>
                </div>
            </div>


            {% for translation in form.translations %}
                <div class="form-group">
                    {{ form_label(translation) }}
                    <div class="col-lg-10">
                        {{ form_widget(translation) }}
                        {{ form_errors(translation) }}
                    </div>
                </div>
            {% endfor %}

            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <a href="{{ path('admin.text.overview') }}" class="btn btn-default">Cancel</a>
                </div>
            </div>

            {{ form_rest(form) }}

        </form>
    </div>

    {{ tinymce_init() }}
{% endblock %}
