Hi,<br/>

<p>
    An error occurred when generating/exporting metadata of a SP registration:
    <a href="{{ url('export', {id: subscription.id} ) }}">{{ url('export', {id: subscription.id} ) }}</a>
</p>

<b>Error</b>
<pre>
    {{ exception.message }}

    {% if exception.getParserErrors is defined %}
        {% for error in exception.getParserErrors %}
            At line {{ error.line }}, column {{ error.column }}, code {{ error.code }}:
            {{ error.message }}
        {% endfor %}
    {% endif %}
</pre>

<b>XML</b>
<pre>
    {{ xml }}
</pre>

{% include 'subscription/partials/proplist.html.twig' %}

<p>
    Kind regards,
</p>

<p>
    SURFconext
</p>
