Hi,<br/>

<p>
    A {{ subscription.environment }} SP registration has just been finished. <br />
    {% if subscription.janusId  %}
    Link to Janus:
    <a href="{{ url('admin.subscription.janus', {eid: subscription.janusId} ) }}">
        {{ url('admin.subscription.janus', {eid: subscription.janusId} ) }}
    </a> <br />
    {% endif %}
    Link to Metadata:
    <a href="{{ url('export', {id: subscription.id} ) }}">
        {{ url('export', {id: subscription.id} ) }}
    </a>
</p>

{% include 'subscription/partials/proplist.html.twig' %}

<p>
    Kind regards,
</p>

<p>
    SURFconext
</p>
