{% extends "base.html.twig" %}

{% block body %}

    <div class="alert alert-danger lock-warning {% if not locked %}hide{% endif %}">
        <strong>{{ 'form.lock.title'|trans }}</strong> {{ 'form.lock.description'|trans }}
    </div>

    {% for type, messages in app.session.flashbag.all %}
        {% for message in messages %}
        <div class="alert alert-{{ type }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ message }}
        </div>
        {% endfor %}
    {% endfor %}

    <form id="form" method="post" {{ form_enctype(form) }}
          class="form-horizontal{% if (subscription.isDraft) %} autosave{% endif %}"
          data-save="{{ path('save', {id: subscription.id}) }}"
          data-lock="{{ path('lock', {id: subscription.id}) }}">
        {{ bootstrap_set_style('horizontal') }}

        <ul class="nav nav-tabs">
            <li class="active"><a href="#info" data-toggle="tab">{{ 'form.tab.info'|trans }}</a></li>
            <li><a href="#general" data-toggle="tab">{{ 'form.tab.general'|trans }}</a></li>
            <li><a href="#metadata" data-toggle="tab">{{ 'form.tab.metadata'|trans }}</a></li>
            <li><a href="#contact" data-toggle="tab">{{ 'form.tab.contact'|trans }}</a></li>
            <li><a href="#attributes" data-toggle="tab">{{ 'form.tab.attributes'|trans }}</a></li>
            <li><a href="#comments" data-toggle="tab">{{ 'form.tab.comments'|trans }}</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade in active" id="info">
                {% if subscription.isDraft %}
                <p>{{ 'form.tab.intro.info_draft'|trans|raw }}</p>
                {% else %}
                <p>{{ 'form.tab.intro.info_published'|trans|raw }}</p>
                {% endif %}

                <div class="row">
                    <div class="col-md-offset-10 col-md-2 text-right">
                        <a href="#" class="btn btn-default btn-sm btn-next">
                            {{ 'form.button.next'|trans }} {{ icon('angle-double-right') }}
                        </a>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="general">

                <p>{{ 'form.tab.intro.general'|trans|raw }}</p>

                {% include 'subscription/tabs/tab-general.html.twig' %}

                <div class="row">
                    <div class="col-md-2">
                        <a href="#" class="btn btn-default btn-sm btn-prev">
                            {{ icon('angle-double-left') }} {{ 'form.button.previous'|trans }}
                        </a>
                    </div>

                    <div class="col-md-offset-8 col-md-2 text-right">
                        <a href="#" class="btn btn-default btn-sm btn-next">
                            {{ 'form.button.next'|trans }} {{ icon('angle-double-right') }}
                        </a>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="metadata">

                <p>{{ 'form.tab.intro.metadata'|trans|raw }}</p>

                {% include 'subscription/tabs/tab-metadata.html.twig' %}

                <div class="row">
                    <div class="col-md-2">
                        <a href="#" class="btn btn-default btn-sm btn-prev">
                            {{ icon('angle-double-left') }} {{ 'form.button.previous'|trans }}
                        </a>
                    </div>

                    <div class="col-md-offset-8 col-md-2 text-right">
                        <a href="#" class="btn btn-default btn-sm btn-next">
                            {{ 'form.button.next'|trans }} {{ icon('angle-double-right') }}
                        </a>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="contact">

                <p>{{ 'form.tab.intro.contact'|trans|raw }}</p>

                {% include 'subscription/tabs/tab-contact.html.twig' %}

                <div class="row">
                    <div class="col-md-2">
                        <a href="#" class="btn btn-default btn-sm btn-prev">
                            {{ icon('angle-double-left') }} {{ 'form.button.previous'|trans }}
                        </a>
                    </div>

                    <div class="col-md-offset-8 col-md-2 text-right">
                        <a href="#" class="btn btn-default btn-sm btn-next">
                            {{ 'form.button.next'|trans }} {{ icon('angle-double-right') }}
                        </a>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="attributes">

                <p>{{ 'form.tab.intro.attributes'|trans|raw }}</p>

                {% include 'subscription/tabs/tab-attributes.html.twig' %}

                <div class="row">
                    <div class="col-md-2">
                        <a href="#" class="btn btn-default btn-sm btn-prev">
                            {{ icon('angle-double-left') }} {{ 'form.button.previous'|trans }}
                        </a>
                    </div>

                    <div class="col-md-offset-8 col-md-2 text-right">
                        <a href="#" class="btn btn-default btn-sm btn-next">
                            {{ 'form.button.next'|trans }} {{ icon('angle-double-right') }}
                        </a>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="comments">
                <p>{{ 'form.tab.intro.comments'|trans|raw }}</p>

                {% include 'subscription/tabs/tab-comments.html.twig' %}

                <div class="row">
                    <div class="col-md-2">
                        <a href="#" class="btn btn-default btn-sm btn-prev">
                            {{ icon('angle-double-left') }} {{ 'form.button.previous'|trans }}
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-6">
                {% if (subscription.isPublished) %}
                    <button type="submit" class="btn btn-primary" {% if locked %}disabled="disabled"{% endif %}>
                        {{ 'form.button.update'|trans }}
                    </button>
                    <a href="{{ path('overview_finish', {id: subscription.id}) }}" class="btn btn-success">
                        {{ 'form.button.finish'|trans }}
                    </a>
                {% endif %}
                {% if (subscription.isDraft) %}
                <button type="submit" class="btn btn-primary" {% if locked %}disabled="disabled"{% endif %}>
                    {{ 'form.button.publish'|trans }}
                </button>
                {% endif %}
                &nbsp;&nbsp;
                <span id="status-progress" class="hidden">
                    <i class="fa fa-cog fa-spin"></i> {{ 'form.status.saving'|trans }}
                </span>
                <span id="status-done" class="hidden">
                    <i class="fa fa-check"></i> {{ 'form.status.saved'|trans }}
                </span>
            </div>
        </div>

        {{ form_errors(form) }}

        {{ form_rest(form) }}

    </form>

{% endblock %}
