{% extends "base.html.twig" %}

{% block body %}
    <h2>{{ 'overview.subtitle'|trans }}</h2>

    <p>
        {{ 'overview.intro'|trans }}
    </p>

    {% include 'subscription/partials/proplist.html.twig' %}

    <a href="{{ path('form', {id: subscription.id}) }}" class="btn btn-default">
        {{ 'overview.button.cancel'|trans }}
    </a>

    <a href="{{ path('confirm', {id: subscription.id}) }}" class="btn btn-primary">
        {{ 'overview.button.confirm'|trans }}
    </a>
{% endblock %}
