{% extends "admin/base.html.twig" %}

{% block title %}Subscription{% endblock %}

{% block body %}
    <dl class="dl-horizontal">
        <dt>ticketNo</dt>
        <dd>{{ subscription.ticketNo }}</dd>

        <dt>contact</dt>
        <dd>{{ subscription.contact.firstName }} {{ subscription.contact.lastName }} ({{ subscription.contact.email }}
            / {{ subscription.contact.phone }})
        </dd>

        <dt>metadataUrl</dt>
        <dd>{{ subscription.metadataUrl }}</dd>

        <dt>logoUrl</dt>
        <dd>{{ subscription.logoUrl }}</dd>

        <dt>nameEn</dt>
        <dd>{{ subscription.logoUrl }}</dd>

        <dt>descriptionEn</dt>
        <dd>{{ subscription.logoUrl }}</dd>

        <dt>nameNl</dt>
        <dd>{{ subscription.logoUrl }}</dd>

        <dt>descriptionNl</dt>
        <dd>{{ subscription.logoUrl }}</dd>

        <dt>applicationUrl</dt>
        <dd>{{ subscription.logoUrl }}</dd>

        <dt>administrativeContact</dt>
        <dd>{{ subscription.administrativeContact.firstName }} {{ subscription.administrativeContact.lastName }}
            ({{ subscription.administrativeContact.email }} / {{ subscription.administrativeContact.phone }})
        </dd>

        <dt>technicalContact</dt>
        <dd>{{ subscription.technicalContact.firstName }} {{ subscription.technicalContact.lastName }}
            ({{ subscription.technicalContact.email }} / {{ subscription.technicalContact.phone }})
        </dd>

        <dt>supportContact</dt>
        <dd>{{ subscription.supportContact.firstName }} {{ subscription.supportContact.lastName }}
            ({{ subscription.supportContact.email }} / {{ subscription.supportContact.phone }})
        </dd>

        <dt>givenNameAttribute</dt>
        <dd>{{ subscription.givenNameAttribute.requested }} - {{ subscription.givenNameAttribute.motivation }}</dd>

        <dt>surNameAttribute</dt>
        <dd>{{ subscription.surNameAttribute.requested }} - {{ subscription.surNameAttribute.motivation }}</dd>

        <dt>commonNameAttribute</dt>
        <dd>{{ subscription.commonNameAttribute.requested }} - {{ subscription.commonNameAttribute.motivation }}</dd>

        <dt>displayNameAttribute</dt>
        <dd>{{ subscription.displayNameAttribute.requested }} - {{ subscription.displayNameAttribute.motivation }}</dd>

        <dt>emailAddressAttribute</dt>
        <dd>{{ subscription.emailAddressAttribute.requested }}
            - {{ subscription.emailAddressAttribute.motivation }}</dd>

        <dt>organizationAttribute</dt>
        <dd>{{ subscription.organizationAttribute.requested }}
            - {{ subscription.organizationAttribute.motivation }}</dd>

        <dt>organizationTypeAttribute</dt>
        <dd>{{ subscription.organizationTypeAttribute.requested }}
            - {{ subscription.organizationTypeAttribute.motivation }}</dd>

        <dt>affiliationAttribute</dt>
        <dd>{{ subscription.affiliationAttribute.requested }} - {{ subscription.affiliationAttribute.motivation }}</dd>

        <dt>entitlementAttribute</dt>
        <dd>{{ subscription.entitlementAttribute.requested }} - {{ subscription.entitlementAttribute.motivation }}</dd>

        <dt>principleNameAttribute</dt>
        <dd>{{ subscription.principleNameAttribute.requested }}
            - {{ subscription.principleNameAttribute.motivation }}</dd>

        <dt>isMemberOfAttribute</dt>
        <dd>{{ subscription.isMemberOfAttribute.requested }} - {{ subscription.isMemberOfAttribute.motivation }}</dd>

        <dt>uidAttribute</dt>
        <dd>{{ subscription.uidAttribute.requested }} - {{ subscription.uidAttribute.motivation }}</dd>

        <dt>preferredLanguageAttribute</dt>
        <dd>{{ subscription.preferredLanguageAttribute.requested }}
            - {{ subscription.preferredLanguageAttribute.motivation }}</dd>

        <dt>comments</dt>
        <dd>{{ subscription.comments }}</dd>
    </dl>

    <a href="{{ path('admin.subscription.overview') }}" class="btn btn-default">Back</a>
{% endblock %}
